# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# project ignore stuff
.DS_Store
aspace
etc/*.conf
setup.*
production.*
dist/*
data/*
dataset/*
data-export/*
data-import/*
*.log
github.com
*.bleve
bin/*
*.zip
*.tar.gz
*.tgz
htdocs/*
html/*
~\$*
*.xlsx
testoutput/*
*.swp
